html, body {
    height: 100%;
    touch-action: none
}

*{
    font-family: -apple-system, BlinkMacSystemFont;
}

.text {
    font-size: 35px
}

div {
    text-align: center;
    width: 100%;
    vertical-align: middle;
}

#terms {
    text-align: center;
    width: 25%;
    vertical-align: middle;
    margin-right: 0
}

.desktopHeader {
    background-image: url('./desktopBackground.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.mobileHeader {
    background-image: url('./desktopBackground.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto 100vh;
    position: fixed;
}

.desktopContainer {
    background-image: url('./desktopBackground.png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    overflow-y: scroll;
}

.mobileContainer {
    background-image: url('./desktopBackground.png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100vh;
    overflow-y: scroll;
    display: 'flex';
    flex-flow: 'column';
    -webkit-overflow-scrolling: touch;
}

.dropdownContainer {
    background-image: url('./desktopBackground.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto 100vh;
}

.noStyleButton {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.homeButtons button {
    background-color: Transparent;
    border-color: black;
    border-width: 3px;
    border-radius: 45px;
    width: 100%;
    height: 100%;
    font-size: 34px;
    font-family: Arial !important;
}

.homeButtons button:hover {
    opacity: 0.5;
}

.homeButtons button:active {
    background-color: navy !important;
    color: white !important;
    border-color: navy;
}

a {
    color: black;
    text-decoration: none;
    font-family: Arial !important;
    font-weight: normal !important;
    font-size: 20px
}

#link {
    font-size:35px !important
}

#smaller {
    font-size: 30px !important
}

#noHover:hover {
    opacity: 1 !important
}

#navSizes {
    font-size: 24px !important;
}

a:hover {
    opacity: 0.5;
}

a:active{
    color: royalblue;

}

#igIcon {
    height: 50px;
    width: 50px;
}

img {
    max-width:100%;
    object-fit: scale-down;
    height: 150px;
}

.mobileImg {
    max-width:100%;
    object-fit: scale-down;
    height: 130px !important;
}

input {
    border: 2px solid !important;
    border-color: black !important;
    height: 100% !important;
    width: 15%;
    box-sizing: border-box;
    padding-left: 5px
}

.mobileNav {
    padding-left: 5%;
    padding-right: 5%;
    height: 8vh !important;
}

.mobileNav hr {
    border-color: black;
    margin: 0;
    padding: 0;
}

.mobileNav button {
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
    border: none;
    background: none;
};
